[submodule "WinapiHelpers"]
	path = winapi-helpers
	url = https://github.com/yuchdev/WinapiHelpers
	branch = master
[submodule "cryptography"]
	path = cryptography
	url = https://github.com/yuchdev/cryptography
	branch = master
[submodule "eraser"]
	path = eraser
	url = https://github.com/yuchdev/eraser.git
	branch = master
